/* 
-Circle starts out big but gets smaller
-10 minutes long
-circle shrinks until its a small ball
-YELLOW
-glow
*/

#dettachment{
    min-height: auto;
    min-width: 100vw;
    border-radius: 50%;
    background-color: yellow;
    padding-bottom: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Rajdhani';
    
}

.medText{
   display: block;
   position: absolute;
   margin-top: 45%;
}

