.medText{
    display: block;
    position: absolute;
    margin-top: 45%; 
    color: black
  }

.animateSpan {
    animation: fadeIn linear 2s;
}

.container{
    text-align: center;
    position: relative;
}

.dettachmentText{
    padding-bottom: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Rajdhani';
}

  .dettachment{
    /* min-height: auto; */
    min-width: 100%;
    border-radius: 50%;
    background-color: yellow;
    padding-bottom: 100%;
    text-align: center;
    display: flex;
    position:absolute;
    justify-content: center;
    font-family: 'Rajdhani';
    animation: fadeInAndOut 20s infinite;
    -moz-animation:  fadeInAndOut 20s infinite;    /* Firefox */
    -webkit-animation:  fadeInAndOut 20s infinite; /* Safari and Chrome */
    -o-animation:  fadeInAndOut 20s infinite;    /* Opera */
    -ms-animation:  fadeInAndOut 20s infinite; 
  
    
}

  
  @keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:0.5;}
    100% {opacity:1;}
  }

  @keyframes fadeInAndOut {
    0% {opacity:0;}
    10%{opacity: .2;}
    20%{opacity: .4;}
    30%{opacity: .6;}
    40%{opacity: .8;}
    50% {opacity:1;}
    60%{opacity: .8;}
    70%{opacity: .6;}
    80%{opacity: .4;}
    90%{opacity: .2;}
    100% {opacity:0;}
  }

  @-webkit-keyframes fadeInAndOut {
    0% {opacity:0;}
    10%{opacity: .2;}
    20%{opacity: .4;}
    30%{opacity: .6;}
    40%{opacity: .8;}
    50% {opacity:1;}
    60%{opacity: .8;}
    70%{opacity: .6;}
    80%{opacity: .4;}
    90%{opacity: .2;}
    100% {opacity:0;}
  } 

  @-moz-keyframes fadeInAndOut {
    0% {opacity:0;}
    10%{opacity: .2;}
    20%{opacity: .4;}
    30%{opacity: .6;}
    40%{opacity: .8;}
    50% {opacity:1;}
    60%{opacity: .8;}
    70%{opacity: .6;}
    80%{opacity: .4;}
    90%{opacity: .2;}
    100% {opacity:0;}
  } 

  @-ms-keyframes fadeInAndOut {
    0% {opacity:0;}
    10%{opacity: .2;}
    20%{opacity: .4;}
    30%{opacity: .6;}
    40%{opacity: .8;}
    50% {opacity:1;}
    60%{opacity: .8;}
    70%{opacity: .6;}
    80%{opacity: .4;}
    90%{opacity: .2;}
    100% {opacity:0;}
  } 

  @-o-keyframes fadeInAndOut {
    0% {opacity:0;}
    10%{opacity: .2;}
    20%{opacity: .4;}
    30%{opacity: .6;}
    40%{opacity: .8;}
    50% {opacity:1;}
    60%{opacity: .8;}
    70%{opacity: .6;}
    80%{opacity: .4;}
    90%{opacity: .2;}
    100% {opacity:0;}
  } 