body {
  margin: 0;
  min-height: 100%;
  font-family: 'Khand', sans-serif;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  /* background:linear-gradient(
135.19deg
,hsla(6,86%, 89%, 1),hsla(6,96%, 74%, 1)); */
  /* background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%); */
  /* background-image: url(/src/wetSunFlower.jpg); */
  /* background-size: 100% 100% ; */
}
/* #root{
  min-height: 100vh;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
