

#action {
    font-family: 'Khand';
    text-align: center;
    align-items: center;
    /* background-color: rgb(83, 173, 173); */
    background-color: blanchedalmond;
    height: 70%;
    width: 60vw;
    position: absolute;
    /* padding: 4%; */
    padding-inline: 5%;
    padding-top: 2%;
    text-decoration: none;
    color:'teal';
    position: relative;
    display: inline-block;
    /* font-family: 'Khand'; */
    padding-bottom: 5%;
    font-weight: bold;
    /* border:solid; */
    border-radius: 5%;
 
}

#action a:hover {
    color: #414445; 
    
}

#action a {
    font-size: 2em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color:#FCB635;
    margin-bottom: 2%;

}

#action a:active {
    color:teal
}

.ant-carousel .slick-prev, .ant-carousel .slick-next{
    color:beige;
    font-size: 1em;
    position: absolute;
    width:fit-content;
    opacity: 0.4;
    
}


.ant-carousel .slick-next {
 right: 0;
 padding-right: 8%;
}

.ant-carousel .slick-prev{
    left:0;
    padding-left: 8%;
}

